.body-no-scroll{
    overflow: hidden;
}

.user-order-page-container.dark, .detail-user-order-btn-table.dark{
    background-color: #222222;
    color: white;
}

.detail-user-order-btn-table.dark:active{
    background-color: #1b1b1b;
}

.loading-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.loading-container.stop, .loading-container-update.stop{
    display: none;
}

.order-not-found{
    display: flex;
    margin: 2rem auto 1rem auto;
    justify-content: center;
}

.user-order-page{
    margin-top: 1rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    transition: width 0.3s ease-in-out;
}

.user-order-page-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 2rem auto;
    border: none;
    padding: 1rem; 
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    transition: width 0.3s ease-in-out;
    padding-bottom: 4rem;
}

.user-order-header{
    display: flex;
    margin-top: auto;
}

.user-order-name-btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-user-order-btn{
    background-color: #1366D9;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    transition: transform 0.3s ease-in-out;
}

.add-user-order-btn:hover{
    transform: scale(1.05);
}

.add-user-order-btn:active{
    transform: scale(0.95);
    background-color: #005cdd;
}

.user-order-hl-container{
    display: flex;
    justify-content: center;
    
}

.user-order-hl{
    width: 95%;
    border: none;
    border-bottom: 2px solid #dbdbdb;
}

.user-order-table{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}
.user-order-table-header{
    padding: 1rem 2rem;
    border-bottom: 1px solid #D0D3D9;
    text-align: center;
}

.user-order-table-data{
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #D0D3D9;
    text-align: center;
}

.user-order-table-row-data:last-child td{
    border: none;
}

.user-order-pagenation{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 1rem;
}

.user-order-pagenation > h6{
    display: flex;
    text-align: center;
    align-items: center;
    color: #48505E;
}

.user-order-previous-page-btn, .user-order-next-page-btn{
    background-color: transparent;
    color: #5D6679;
    border-radius: 4px;
    border: 1px solid #D0D5DD;
    padding: 0.3rem 1rem;
    width: 7rem;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.user-order-previous-page-btn:hover, .user-order-next-page-btn:hover{
    transform: scale(1.05);
    
}

.user-order-previous-page-btn:active, .user-order-next-page-btn:active{
    transform: scale(0.95);
    background-color: #f5f5f5;
}

.detail-user-order-btn-table{
    background-color: transparent;
    border: 1px solid #D0D3D9;
    color: #48505E;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.detail-user-order-btn-table:hover{
    transform: scale(1.05);
}

.detail-user-order-btn-table:active{
    transform: scale(0.95);
    background-color: #f5f5f5;
}

.table-item{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
 }

 @media screen and (max-width: 1240px){

    .add-user-order-btn{
        font-size: 0.9rem;
    }

    .user-order-previous-page-btn, .user-order-next-page-btn{
        font-size: 0.9rem;
        width: 6rem;
    }
}

@media screen and (max-width: 991px){

    /* .user-order-table-header-erasable-active, .user-order-table-data-erasable-active{
        display: block;
    } */

    .user-order-page-container{
        width: 95%;
    }

    .user-order-table-header-erasable, .user-order-table-data-erasable{
        display: none;
    }
    
    .user-order-previous-page-btn, .user-order-next-page-btn{
        font-size: 0.85rem;
    }

    .user-order-table-data{
        /* text-align: left; */
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    .user-order-table-header{
        /* text-align: left; */
        padding: 0.5rem 1rem 1rem 1rem;
    }
}

@media screen and (max-width: 875px){

    .user-order-page{
        width: 100%;
    }

    .user-order-previous-page-btn, .user-order-next-page-btn{
        font-size: 0.75rem;
        padding: 0.3rem;
        width: 5rem;
    }

    .user-order-page-num-header{
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 600px){
    .user-order-page-container{
       padding: 0.4rem;
       padding-bottom: 3rem;
    }

    .user-order-name-btn-container{
        padding: 0.6rem;
    }
}

@media screen and (max-width: 500px){
    .user-order-page-container{
        width: 100%;
    }

    .add-user-order-btn{
        font-size: 0.8rem;
        padding: 0.4rem;
    }
}

@media screen and (max-width: 300px){

    .add-user-order-btn{
        font-size: 0.7rem;
        padding: 0.3rem;
    }

    .user-order-name-btn-container{
        padding: 0.5rem;
    }

    .user-order-table-header{
        font-size: 0.8rem;
    }

    .user-order-table-data{
        font-size: 0.75rem;
    }

    .user-order-previous-page-btn, .user-order-next-page-btn{
        font-size: 0.6rem;
        width: 5rem;
        padding: 0.1rem;
    }

    .user-order-page-num-header{
        font-size: 0.7rem;
    }

}