.body-no-scroll{
    overflow: hidden;
}

.user-change-password-page-container.dark, .user-change-password-input.dark, .cancel-user-change-password-header.dark,
 .cancel-user-change-password-text.dark, .cancel-user-change-password-cancel-btn.dark{
    color: white;
    background-color: #222222;
}

.user-change-password-label.dark, .discard-user-change-password-btn.dark{
    color: white;
}

.discard-user-change-password-btn.dark:active, .cancel-user-change-password-cancel-btn.dark:active{
    background-color: #1b1b1b;
}

.loading-container{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.loading-container.stop, .loading-container-update.stop{
    display: none;
}

.user-change-password-page{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 87%;
    /* margin-top: 5rem;  */
    transition: width 0.3s ease-in-out;
}

.user-change-password-page-container{
    display: flex;
    flex-direction: column;
    width: 50rem;
    margin: 2rem auto 0 auto;
    border: none;
    padding: 1.5rem; 
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    transition: width 0.3s ease-in-out;
}


.user-change-password-page-container > h5{
    text-align: center;
    margin-bottom: 3rem;
}

.user-change-password-label-input-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1.5rem;
    transition: width 0.3s ease-in-out;
    position: relative;
}

.user-change-password-label{
    color: #48505E;
    font-weight: 500;
    margin-bottom: 1rem;
}

.user-change-password-input{
    width: 100%;
    border: 1px solid #D0D5DD;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    padding-right: 2.5rem;
}

.user-change-password-eye.fa-eye, .user-change-password-eye.fa-eye-slash{
    cursor: pointer;
    font-size: 0.95rem;
    position: absolute;
    top: 65%;
    right: 5%;
}

.user-change-password-btn-container{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    transition: width 0.3s ease-in-out;
}

.discard-user-change-password-btn, .reset-user-change-password-btn{
    border-radius: 5px ;
    padding: 0.5rem 1rem;
    width: 40%;
    font-size: 0.95rem;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, width 0.3s ease-in-out;
}

.discard-user-change-password-btn{
    background-color: transparent;
    border: 1px solid #F0F1F3;
    color: #858D9D;
}

.reset-user-change-password-btn{
    background-color: #1366D9;
    color: white;
    border: none;
}

.discard-user-change-password-btn:hover{
    transform: scale(1.05);
}

.reset-user-change-password-btn:hover{
    transform: scale(1.05);
}

.discard-user-change-password-btn:active{
    transform: scale(0.95);
    background-color: #f5f5f5;
}

.reset-user-change-password-btn:active{
    transform: scale(0.95);
    background-color: #005cdd;
}


.cancel-user-change-password-header{
    text-align: center;
    color: #000;
    font-size: 1.6rem;
}

.cancel-user-change-password-text{
    color: #383E49;
    text-align: center;
    margin-top: 10%;
    font-size: large;
}

.cancel-user-change-password-btn-container{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.cancel-user-change-password-cancel-btn, .cancel-user-change-password-ok-btn{
    border-radius: 5px ;
    padding: 2% 5%;
    width: 40%;
    transition: transform 0.3s ease-in-out;
}

.cancel-user-change-password-cancel-btn{
    background-color: transparent;
    border: 1px solid #F0F1F3;
    color: #858D9D;
}

.cancel-user-change-password-ok-btn{
    background-color: #1366D9;
    color: white;
    border: none;
}

.cancel-user-change-password-cancel-btn:hover{
    transform: scale(1.05);
}

.cancel-user-change-password-ok-btn:hover{
    transform: scale(1.05);
}

.cancel-user-change-password-cancel-btn:active{
    transform: scale(0.95);
    background-color: #f5f5f5;
}

.cancel-user-change-password-ok-btn:active{
    transform: scale(0.95);
    background-color: #005cdd;
}

.switch-theme {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-theme input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round-theme {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5; 
    -webkit-transition: .4s;
    transition: .4s;
}

.slider.round-theme:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider.round-theme {
    background-color: #000;
}

input:focus + .slider.round-theme {
    box-shadow: 0 0 1px #1f1f1f;
}

input:checked + .slider.round-theme:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round-theme {
    border-radius: 34px;
}

.slider.round-theme:before {
    border-radius: 50%;
}

@media screen and (max-width: 1240px){

    .user-change-password-page-container{
        width: 80%;
    }

    .discard-user-change-password-btn, .reset-user-change-password-btn{
        width: 45%;
        font-size: 0.9rem;
        
    }
}

@media screen and (max-width: 991px){
    
    .discard-user-change-password-btn, .reset-user-change-password-btn{
        width: 45%;
        font-size: 0.9rem;    
    }

    .user-change-password-label-input-container{
        width: 60%;
    }
    .user-change-password-btn-container{
        width: 60%;
    }
}

@media screen and (max-width: 875px){

    .user-change-password-page{
        width: 100%;
    }

    .user-change-password-page-container{
        width: 90%;
    }

    .user-change-password-label-input-container{
        width: 65%;
    }
    .user-change-password-btn-container{
        width: 65%;
    }

    .cancel-user-change-password-header{
        font-size: 1.5rem
    }

    .cancel-user-change-password-text{
        font-size: 1rem;
    }

    .cancel-user-change-password-cancel-btn, .cancel-user-change-password-ok-btn{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 600px){
    .user-change-password-page-container{
        width: 100%;
    }

    .user-change-password-label-input-container{
        width: 90%;
    }

    .user-change-password-btn-container{
        width: 90%;
    }

    .discard-user-change-password-btn, .reset-user-change-password-btn{
        width: 45%;
        font-size: 0.8rem;    
    }

    .user-change-password-label{
        font-size: 0.95rem;       
    }
}

@media screen and (max-width: 350px){

    .user-change-password-page-container{
       padding: 0.5rem;
    }

    .user-change-password-label-input-container{
        width: 100%;
    }

    .user-change-password-btn-container{
        width: 100%;
    }

    .discard-user-change-password-btn, .reset-user-change-password-btn{
        width: 45%;
        font-size: 0.7rem;    
    }
}